{% extends 'utils/base.html' %}

{% block start %}
<div class="login-form">
    <div class="basic-info">
        <h1>Login</h1>
        <p>Get access to your Orders, Wishlist and Recommendations</p>
    </div>
    <form method="POST" id="register-form" class="log-reg-form">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Enter email address" required>
        <input type="password" name="password" id="password" placeholder="Enter Password" required>
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required>
        <span id="password_match"></span>
        {% include 'utils/messages.html' %}
        <button type="submit" id="register_btn">Sign Up</button>
    </form>
</div>
{% endblock %}